.question-author-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  width: 170px;
}

.question-author-container :first-child {
  margin-bottom: 10px;
  color: var(--color-primary);
}

.question-wouldyourather-options-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.question-wouldyourather-options-container p {
  text-align: start;
}

.question-wouldyourather-options-container > :first-child {
  color: var(--color-primary);
  margin-bottom: 10px;
}

.question-options-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.question-option {
  font-size: 22px;
}

/* form - QuestionDetailNotAnswered */

.question-wouldyourather-options-container label {
  text-align: start;
}

.question-options-container label:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 20px;
}

.question-options-container input[type='radio'] {
  margin-right: 12px;
}

/* results - QuestionDetailAnswered */

.question-option-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.question-option-container:first-child {
  margin-bottom: 10px;
}

.question-voted {
  border: 2px solid var(--color-primary);
  border-radius: 5px;
}

.question-my-answer {
  color: var(--color-primary);
  margin-bottom: 3px;
}

.question-votes {
  color: var(--color-primary);
  margin-top: 5px;
}
