.App-outer-container {
  text-align: center;
  background-color: var(--color-dark);
  min-height: 100vh;
}

.App-inner-container {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 34px;
}

.header-link {
  color: var(--color-primary);
  text-decoration: none;
}

.header-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-hello-username {
  font-size: 16px;
  margin-right: 20px;
}

.header-avatar {
  margin-right: 20px;
}

.App-nav {
  margin-bottom: 40px;
}

.App-nav ul {
  display: flex;
  flex-direction: row;
}

.App-nav li {
  text-decoration: none;
  margin-right: 20px;
}

.nav-link {
  color: var(--color-primary);
  text-decoration: none;
}

.nav-link-active {
  text-decoration: underline;
  font-weight: bold;
}
