.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.header {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0;
  flex-direction: row;
  font-size: 34px;
}

.header-link {
  color: lightcoral;
  text-decoration: none;
}
