.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-container {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  font-size: 34px;
}

.header-link {
  color: lightcoral;
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {
  text-decoration: none;
  margin-right: 20px;
}

nav a {
  color: lightcoral;
}
