/* Reset */
/* adapted from https://github.com/jgthms/minireset.css/blob/master/minireset.css
also see: https://piccalil.li/blog/a-modern-css-reset */

/* https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* Global styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: white;
}

:root {
  --color-primary: lightcoral;
  --color-dark: #282c34;
}

.button {
  border: 0;
  border-radius: 100px;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.button-primary {
  background: var(--color-primary);
  color: var(--color-dark);
}

.button-primary-disabled {
  background: #8c565a;
  color: var(--color-dark);
}

.button-white {
  background: white;
  color: var(--color-dark);
}

.button-white:disabled {
  background: darkgray;
  color: var(--color-dark);
}
